.popup__button {
    background: #000000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    color: white;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 37px;
}

@media (max-width: 768px) {
 
    .popup__button {
        max-width: 238px;
        max-height: 46px;
        margin-bottom: 25px;
    }
}